.roleList ul{
    /* display: flex; */
    list-style: none;
    /* justify-content: space-evenly; */
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 10%;
}

.roleList ul li{
    margin-bottom:20px;
}

.roleItem{
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #383769 !important;
    text-decoration: none;

    padding: 0;
    border: none;
    background: none;
}

.roleItem::before{
    content: url(/show-toggler.png);
    padding-right: 48px;
}

.expandedContent {
    margin-top: 28px;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: DodgerBlue; */
    /* align-items: center; */
}

.expandedContent > div {
    /* background-color: #f1f1f1; */
    width: 530px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
    /* text-align: center; */
    /* line-height: 75px; */
    /* font-size: 30px; */
    display:flex;
    justify-content: space-between;
    
}

.teamImage{
    position: relative;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin:auto;
}

.teamImage img{
    width: 100%;
    height: 100%;
}

.teamDesc{
    margin-left: 5%;
    width:70%;
}

.teamName{
    color:#171133 !important;
    font: 'Roboto';
    font-size:2em;
    font-weight: 700;
    margin:5px;
}

.teamRole{
    color:#383769 !important;
    font: 'Roboto';
    font-style: italic;
    font-size:1.5em;
    font-weight: 400;
    margin:5px;
}

.teamStory{
    color:black;
    font: bold 'Roboto';
    margin:5px;
    font-size:0.8em;
    /* font-weight: 500; */
}

@media only screen and (max-width: 1024px) {
    .roleList{
        margin-bottom: 36vh;
    }
    .roleItem{
        font-size: 20px;
    }
    .roleItem::before{
        padding-right: 12px;
    }
}
@media only screen and (max-width: 414px) {
    .expandedContent > div {
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
      
    }
    .teamImage{
        width: 120px;
        
    }
    .teamName{
        text-align: center;
    }
    
    .teamRole{
        text-align: center;
    }
    
    .teamStory{
        text-align: center;
        margin: 0px -10%;
    }
    .teamDesc{
        margin: 0px;
    }
    
}
@media only screen and (min-width: 320px) {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    .teamName{
     
        font-size: calc(20px + 20 * ((100vw - 320px) / 680));
        
    }
    .teamRole{
        font-size: calc(15px + 5 * ((100vw - 320px) / 680));
    }
    .teamStory{
        font-size: calc(12px + 4 * ((100vw - 320px) / 680));
    }
    
}
