.head{
    background-image: url(/header-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-position-y: bottom;
}

.desc{
    padding: 30vh 20vw;
}
.desc h1{
    color:#FFFFFF;
    font-size: 120px;
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 1;
    animation: fadeIn 2s forwards;
}

.desc p{
    color:#D1E3F3;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    animation: fadeOut 4s forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut{
    from{
        opacity: 0;
        transform: translateY(0);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@media only screen and (min-width: 320px) {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    .desc h1{
     
        font-size: calc(50px + 70 * ((100vw - 320px) / 680));
        
    }
    .desc p{
        font-size: calc(12px + 12 * ((100vw - 320px) / 680));
    }
}