.numbersList ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    justify-content: space-evenly;
    margin: 0px 100px 50px;
    gap:5px;
}
.title h1{
    padding: 15vh 10vw;
    font-size: 55px;
    font-weight: 700;
    color: #383769;
}

.numbersList ul li h2{
    padding: 10px 0px;
    font-size: 40px;
    font-weight: 700;
}

.numbersList ul li p{
    font-weight: 500;
    font-size: 20px;
}

.numbersList li{
    max-width: 295px;
    display: inline-block;
    text-align: center;
}

.verticalLine{
    border-left: 1.5px solid rgba(0, 0, 0, 0.5);
    height: 150px;
    margin-top: 5%;
}

@media only screen and (min-width: 320px) {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    .title h1{
        font-size: calc(30px + 20 * ((100vw - 320px) / 680));
    }
    .numbersList ul li h2{
        font-size: calc(20px + 20 * ((100vw - 320px) / 680));
    }
    .numbersList ul li p{
        font-size: calc(10px + 10 * ((100vw - 320px) / 680));
    }
    
}
@media only screen and (max-width: 1024px) {
    .numbersIcon{
        width: 100px;
    }
    .title h1{
        padding: 10vh 10vw;
    }
}
@media only screen and (max-width: 768px) {
    .numbersList ul{
        margin: 0px 50px 20px;
      
      
    }
}
@media only screen and (max-width: 414px) {
    .numbersIcon{
        width: 50px;
    }
    .title h1{
        padding: 8vh 10vw;
    }
    .numbersList ul{
        gap: 3px;
        margin: 0px 10px 20px;
      
    }
    .numbersList ul li h2{
        padding: 5px 0px;
        
    }
}