.numbersList ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    justify-content: space-evenly;
    margin: 0px 100px;
    gap:5px;
}
.title h1{
    padding: 15vh 15vh;
    font-size: 55px;
    font-weight: 700;
    color: #383769;
}

.numbersList ul li h2{
    padding: 10px 0px;
    font-size: 40px;
    font-weight: 700;
}

.numbersList ul li p{
    font-weight: 500;
    font-size: 20px;
}

.numbersList li{
    max-width: 295px;
    display: inline-block;
    text-align: center;
}

.verticalLine{
    border-left: 1.5px solid rgba(0, 0, 0, 0.5);
    height: 150px;
    margin-top: 5%;
}
