.testimoniSection{
    background-color: #D1E3F3;
}
.testimoniTop{
    background-image: url(/testi-bg-top.png);
    background-position: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    height: 30vh;
    width: 100%;
}
.testimoniBottom{
    background-image: url(/testi-bg-bottom.png);
    background-position: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    height: 30vh;
    width: 100%;
    margin-bottom: 20px;
}

.testimoniCenter{
    height: 100vh;
    transition: 300ms;
    padding: 0vh 15vh;
}

.title h1{
    padding: 10vh 15vh 0vh;
    font-size: 55px;
    font-weight: 700;
    color: #383769;
}
