.footer {
  width: 100%;
  justify-content: space-around;
  background-color:#171133;
}

.footerAtas{
  display:flex;
  border: 2px solid red;
  padding: 1% 0;
}

.mampuLogo{
  margin-left:10%;
  width:7%;
  margin-right:18%;
}

.headquarterText{
  width:10%;
}

.headquarterText, .contactText, .followusText{
  margin:1% 1%;
}

.title{
  color:#9897D0;
  font:'Roboto';
  margin:0;
}

.desc{
  color:white;
  font:'Roboto';
  margin:0;
  text-decoration: none;
}

.whatsappLogo{
  height:1em;
}