.navbars{
  
  background-color:#383769 !important;
  width:100%;
  position: fixed;
  z-index: 2;
}


.brandContainer{
  margin-left:4%;
}

.mampuLogo{
  width:2em;
}

.navContainer{
  
}

.navLink{
  color:#D1E3F3 !important;
  justify-content: space-between;
  margin: auto 20px;
  /* margin-right:5%; */
}

.navLinkLanguage{
  color:#D1E3F3 !important;
  justify-content: space-between;
  width: max-content;
  background-color: #383769 ;
  border:0px;
  outline: 0px;
  text-align-last: right;
}

.navLink:hover{
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #D1E3F3;
}

.navLinkLanguage:hover{
  cursor: pointer;
}

@media only screen and (max-width: 988px) {
  .navLinkLanguage{
    text-align-last: left;
  }
}
