.roleList ul{
    /* display: flex; */
    list-style: none;
    justify-content: space-evenly;
    margin: 50px 120px;
}

.roleList ul li{
    margin-bottom:20px;
}

.roleItem{
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #383769 !important;
    text-decoration: none;

    padding: 0;
    border: none;
    background: none;
}

.roleItem::before{
    content: url(../public/show-toggler.png);
    padding-right: 48px;
}

.expandedContent {
    margin-top: 28px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    /* align-items: center; */
}

.expandedContent > div {
    background-color: #f1f1f1;
    width: 45%;
    margin: 10px 2.5%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}